html {
    height: 100%;
    width: 100%;
}

/* =========================
   NAVBAR - Gigi (Task 3)
========================= */

.menu-principal{
    position: sticky;
    top: 0;
    background-color: #333;
    padding: 15px;
}

.menu-principal ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.menu-principal a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu-principal a:hover{
    color: #f2c94c;
}
