html {
    height: 100%;
    width: 100%;
}

/* =========================
   NAVBAR - Gigi (Task 3)
========================= */

.menu-principal{
    position: sticky;
    top: 0;
    background-color: #333;
    padding: 15px;
}

.menu-principal ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.menu-principal a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu-principal a:hover{
    color: #f2c94c;

  height: 100%;
  width: 100%;
}

/* Reset global */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* Fuente, fondo y color de fuente */
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color:#b9bd8a;
  color:#333;
  line-height:1.6;
}

/* Formato de los titulos */
h1, h2, h3, h4, h5, h6{
  margin-bottom:15px;
}

/* Parrafos */
p{
  margin-bottom:10px;
}

/* Imagenes se escalan a la mitad del alto de la pantalla de manera respnosiva */
img{
  max-width:100%;
  max-height:50vh;
  height:auto;
}
